In [1]:
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd 
import re

# Просмотренные фильмы
Соберем из html-выгрузок из личного кабинета Кинопоиска датафрейм со всеми просмотренными фильмами.

In [3]:
# загрузим из хранилища необходимые файлы

with open("0.txt", 'r', encoding='utf-8') as f:
    soup = BeautifulSoup(f, "html.parser")

In [13]:
# преобразуем данные в нужные нам типы и соберем в списки

ru_names = []
en_names = []
years = []
ratings = []
ratings_numbers = []
lengths = []

infos = soup.findAll('div', attrs={'class': 'info'})
for info in infos:
    runame_n_year = info.find('div', attrs={'class': 'nameRus'}).text
    en_name = info.find('div', attrs={'class': 'nameEng'}).text
    rating = float(''.join(re.findall(r'\d.\d{3}', info.find('b').text)))
    ratings_number = int(''.join(re.findall(r'\d+', info.findAll('span', attrs={'class': 'text-grey'})[0].text)))
    length = int(''.join(re.findall(r'\d+', info.findAll('span', attrs={'class': 'text-grey'})[1].text)))

    ru_name = ''.join(re.findall('.* \(', runame_n_year))[:-2]
    year = runame_n_year[-5:-1]

    ru_names.append(ru_name)
    en_names.append(en_name)
    years.append(year)
    ratings.append(rating)
    ratings_numbers.append(ratings_number)
    lengths.append(length)

In [5]:
# зададим уникальный шаблон для выгрузок 

def df_templater():
    return {'ru_name': ru_names,
            'en_name': en_names,
            'year': years,
            'rating': ratings,
            'ratings_number': ratings_numbers,
            'length': lengths}

In [14]:
# по шаблону соберем из списков датафрейм

watched = pd.DataFrame(df_templater())
watched.head()

,ru_name,en_name,year,rating,ratings_number,length
0,Агент паранойи,Mousou dairinin,2004,7.442,6165,25
1,Истинная грусть,Perfect Blue,1998,7.799,30946,81
2,Паприка,Paprika,2006,7.688,45712,90
3,Гравити Фолз,Gravity Falls,2016,8.960,600374,22
4,Навсикая из долины ветров,Kaze no tani no Naushika,1984,8.180,83789,117

In [15]:
# сохраним таблицу

with open('D:\MovieDB\CreatingTables\watched\watched.csv', 'w', encoding='utf-8', newline='') as f:
    f.write(watched.to_csv())